    .container-fluid {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .body {
        background-color: rgb(247, 223, 159);
    }
    
    .container-fluid>.navbar-brand {
        font-size: 1.5rem;
        color: #e76f3d;
    }
    
    .navbar-nav>.nav-item>.nav-link {
        /* font-family: Georgia, serif; */
        font-size: 1.5rem;
        color: #f7b396;
    }
    
    .navbar-nav>.nav-item>.nav-link:hover {
        color: #e76f3d;
    }
    
    .navbar-nav>.nav-item>.nav-link.active {
        color: #e76f3d;
    }
    
    .my-introduction {
        text-align: center;
        /* font-family: Georgia, serif; */
        color: #e76f3d;
        margin-top: 15%;
    }
    
    .my-introduction>.name {
        font-size: 2rem;
    }
    
    .my-introduction>.web-developer {
        font-size: 3rem;
    }
    /* .about-me>.Summary {color: black;
    text-indent: 30px;
    font-size: 1.5rem;
    line-height: 2;
    padding: 10px 70px 10px 70px;
} */
    
    .about-me {
        text-align: center;
    }
    
    .about-me>.Summary {
        /* padding: 70px 0; */
        text-align: center;
        text-indent: 50px;
        font-size: 24px;
        padding-left: 40px;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-right: 40px;
    }
    
    .skills {
        text-align: center;
        /* font-family: Georgia, serif; */
        color: #e76f3d;
        margin-top: 5%;
        font-size: 2rem;
    }
    
    .proj-progress-card .progress .progress-bar {
        position: relative;
    }
    
    .progress .progress-bar {
        height: 100%;
        background-color: #e76f3d;
        animation-iteration-count: 1;
        border-radius: 10px;
    }
    
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        transition: width .6s ease;
    }
    
    .ani1 {
        animation: progress-animation1 2s infinite
    }
    
    .progress {
        font-size: 1rem;
    }
    
    .nameSpan {
        font-size: 1rem;
    }
    
    .proj-progress-card {
        margin-left: 3%;
    }
    
    .table {
        font-family: arial, sans-serif;
        font-size: 1rem;
        background-color: #f7b396;
        color: black;
    }
    
    .button {
        background-color: #f7b396;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .button:hover {
        background-color: #e76f3d;
        text-decoration: none;
        color: white;
    }
    
    .blogs {
        text-align: center;
        /* font-family: Georgia, serif; */
        color: #e76f3d;
        margin-top: 5%;
        font-size: 2rem;
    }
    
    #demo>.row>.col>.card>.card-body>.card-title {
        color: black;
    }
    
    #demo>.row>.col>.card>.card-body>.card-text {
        color: rgba(0, 0, 0, 0.356);
        font-size: 1.2rem;
    }
    
    #demo>.row>.col>.card>img {
        width: 50%;
        height: 35%;
        margin-left: 26%;
        margin-top: 7%;
    }
    
    #demo> {
        margin-top: 4%;
    }
    
    #demo>.row {
        margin-top: 3%;
    }
    
    #experience>.row>.col>.card>.card-body>.card-title {
        color: black;
    }
    
    #experience>.row>.col>.card>.card-body>.card-text {
        color: rgba(0, 0, 0, 0.356);
        font-size: 1.2rem;
    }
    
    #experience>.row>.col>.card>img {
        width: 50%;
        height: 35%;
        margin-left: 26%;
        margin-top: 7%;
    }
    /* #demo2>.card>.row>.col-md-4>img { 
        margin-top: 60%;
    }
    
    #demo2>.card {
        margin-left: 30%;
    }*/
    /* .carousel-inner img { 
        width: 100%;
        height: 100%;
     } */
    
    .organizations {
        text-align: center;
        /* font-family: Georgia, serif; */
        color: #e76f3d;
        margin-top: 5%;
        font-size: 2rem;
    }
    
    .org>img {
        display: inline-block;
        margin-left: 3%;
        margin-bottom: 3%;
    }
    
    .footer {
        background-color: rgb(151, 148, 148);
        color: white;
    }
    
    .footer>.container {
        padding-top: 3%;
        padding-bottom: 2%;
    }
    
    .copyright {
        background-color: rgb(99, 97, 97);
        color: white;
        padding: 1.5%;
    }
    
    .copyright>.copyright-text {
        text-align: center;
    }
    
    body {
        font-family: "Lato";
    }
    
    .blogs .button {
        background: #e76f3d;
    }
    
    .blogs .button.collapsed {
        background: #f7b396;
    }
    
    #story>.row>.col>.card>.card-body>.card-title {
        color: black;
    }
    
    #story>.row>.col>.card>.card-body>.card-text {
        color: rgba(0, 0, 0, 0.356);
        font-size: 1.2rem;
    }
    
    #story>.row>.col>.card>img {
        width: 50%;
        height: 35%;
        margin-left: 26%;
        margin-top: 7%;
    }
    
    #story> {
        margin-top: 4%;
    }
    
    #story>.row {
        margin-top: 3%;
    }